# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel/

# OS specific
.DS_Store
Thumbs.db

# Editor related
.vscode/
.idea/

# Build cache
.cache/
dist/

# Optional
.turbo/
bun.lockb
